<component name="ArtifactManager">
  <artifact type="war" name="springBootHello:war">
    <output-path>$PROJECT_DIR$/springBootHello/target</output-path>
    <root id="archive" name="springBootHello-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springBootHello:war exploded" />
    </root>
  </artifact>
</component>